{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link href="{% static 'css/css1/css1.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}
    Кулинарная книга
{% endblock %}

{% block content %}
<header class="header" id="header">
    <div class="container">
        <div class="header__inner">
            <div class="logo">
                <h1>
                    <a class="logo__item" href="{% url 'home' %}">Кулинарная книга</a>
                </h1>
            </div>

            <div class="nav">
                <a class="nav__add__recipe" href="{% url 'add' %}">Добавить рецепт</a>
                <a class="nav__main" href="{% url 'home' %}">Главная</a>
                <a class="nav__profile" href="{% url 'profile' %}">Профиль</a>
                <a class="nav__search" href="{% url 'search' %}">Рецепты</a>
                <a class="nav__login" href="{% url 'login' %}">Войти</a>
                <a class="nav__registration" href="{% url 'register' %}">Регистрация</a>

            </div>
        </div><!-- /.header__inner -->
    </div><!-- /.container -->
</header>
    <div class="main-content" id="main-content">
    <div class="container">
        <div class="main-content__inner">
            <form id="login" method="post">
                <h1>Вход</h1>
                {% csrf_token %}
                {%for f in form%}
                  <p><label class = "form-label" for "{{ f.id_for_label }}">{{f.label}}: </label><br>{{f}}</p>
                  {%endfor%}
                <input type="submit" id="submit_1" value="ВОЙТИ">
                <a href="{% url 'register' %}">Регистрация</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
