body {
  margin: 0 auto;
  background-color: whitesmoke;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
}

.header {
  background-color: black;
  z-index: 1000;
  position: absolute;
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__item {
  padding-left: 20px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 900;
  font-size: 38px;
  color: #fff;
  text-decoration: none;
}

.nav__login, .nav__registration, .nav__add__recipe {
  font-family: 'Fira Sans Condensed', sans-serif;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  opacity: 0.75;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

.nav__registration {
  padding-left: 10px;
  padding-right: 20px;
}

.nav__login {
  padding-left: 10px;
  padding-right: 10px;
}

.nav__add__recipe {
  padding-right: 10px;
}

.nav__login:hover, .nav__registration:hover, .nav__add__recipe:hover {
  opacity: 1;
}

.header.fixed {
  position: fixed;
  padding: 0px 0px;
}

.main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.main_content .container {
  padding-top: 100px;
  background-color: #fff;
  text-align: center;
}

.main_content .container .main_content_title {
  font-size: 36px;
}

.content {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .content_item {
  color: #000;
  margin-bottom: 20px;
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 315px;
  overflow: hidden;
}

.content .content_item .content_item_image {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.content .content_item .content_item_info {
  display: none;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.content .content_item .content_item_info .content_item_title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.content .content_item .content_item_info .content_item_time {
  text-align: center;
  border: 2px solid #000;
  height: 90px;
  width: 90px;
  background: 0;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 20px;
}

.content .content_item .content_item_info .content_item_complexity {
  text-align: center;
  border: 2px solid #000;
  height: 90px;
  width: 90px;
  background: 0;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-column-align: start;
      justify-self: start;
  margin-left: 20px;
}

.content .content_item .content_item_info .content_item_complexity .complexity_item_img {
  width: 48px;
  height: 48px;
  margin: 0 auto;
  margin-top: 9px;
  border-radius: 10px;
}

.content .content_item .content_item_info .content_item_complexity .complexity_item_img.green {
  background-color: lawngreen;
}

.content .content_item .content_item_info .content_item_complexity .complexity_item_img.yellow {
  background-color: yellow;
}

.content .content_item .content_item_info .content_item_complexity .complexity_item_img.red {
  background-color: red;
}

.content .content_item .content_item_info .content_item_complexity .complexity_item_text {
  margin: 0;
  padding-top: 4px;
}

.content .content_item:hover .content_item_image {
  opacity: 0.25;
}

.content .content_item:hover .content_item_info {
  display: -ms-grid;
  display: grid;
}
/*# sourceMappingURL=search.css.map */