body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color:whitesmoke;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

/* Header
====================================*/
.header {
    background-color: black;
    z-index: 1000;
    position: absolute;
    width: 100%;
    top: 0;
    max-width: 1200px;
}

.header.fixed {
    position: fixed;
    padding: 0px 0px;

}

.header__inner {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
}

/* Logo
====================================*/
.logo__item {
    padding-left: 20px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 900;
    font-size: 38px;
    color: #fff;
    text-decoration: none;
}

/* Nav
====================================*/
.nav__login, .nav__registration, .nav__add__recipe {
    font-family: 'Fira Sans Condensed', sans-serif;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    opacity: 0.75;
    transition: opacity 0.1s linear;
}

.nav__registration{
    padding-left: 10px;
    padding-right: 20px;
}

.nav__login{
    padding-left: 10px;
    padding-right: 10px;
}

.nav__add__recipe {
    padding-right: 10px;
}


.logo__item:hover, .nav__login:hover, .nav__registration:hover, .nav__add__recipe:hover {
    opacity: 1;
    text-decoration: none;
    color: #fff;
}

/* Profile */
.nav__text__profile
{
    font-family: 'Fira Sans Condensed', sans-serif;
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    opacity: 0.75;
    transition: opacity 0.1s linear;
}

/* main
====================================*/
.main-content {
    margin-top: 75px;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.main-content__inner {
    background-color: white;
}

#main {
    padding-top: 100px;
    background-color: #ffffff;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    padding: 35px;
    /*position: relative;*/
    /*right: 45px;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border-bottom: 4px solid #ddd;
}
#real-estates-detail #author img {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    border: 5px solid #ecf0f1;
    margin-bottom: 10px;
}
#real-estates-detail .sosmed-author i.fa {
    width: 30px;
    height: 30px;
    border: 2px solid #bdc3c7;
    color: #bdc3c7;
    padding-top: 6px;
    margin-top: 10px;
}
.panel-default .panel-heading {
    background-color: #fff;
}
#real-estates-detail .slides li img {
    height: 450px;
}
