body {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color:whitesmoke;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

/* Container
====================================*/
/* .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; */
/* } */

/* Header
====================================*/
.header {
    background-color: black;
    /* border-radius: 10px; */
    z-index: 1000;
    position: absolute;
    width: 100%;
    top: 0;
    max-width: 1200px;
}

.header.fixed {
    position: fixed;
    padding: 0px 0px;

}

.header__inner {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
}

/* Logo
====================================*/
.logo__item {
    padding-left: 20px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 900;
    font-size: 38px;
    color: #fff;
    text-decoration: none;
}

/* Nav
====================================*/
.nav__login, .nav__registration, .nav__add__recipe {
    font-family: 'Fira Sans Condensed', sans-serif;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    opacity: 0.75;
    transition: opacity 0.1s linear;
}

.nav__registration{
    padding-left: 10px;
    padding-right: 20px;
}

.nav__login{
    padding-left: 10px;
    padding-right: 10px;
}

.nav__add__recipe {
    padding-right: 10px;
}


.nav__login:hover, .nav__registration:hover, .nav__add__recipe:hover {
    opacity: 1;
}

/* main
====================================*/
.main-content {
    margin-top: 100px;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.main-content__inner {
    background-color: white;   
}

.content-title {
    padding-left: 20px;
    border: 1px solid #000;
    background-color:rgb(190, 190, 190);
    border-radius: 10px;
}

.content-title-text {
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 400;
}

.food-image {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.food-image-content {
    padding-bottom: 10px;
    border-radius: 10px;
}

/* time_complexity
====================================*/

.time_complexity {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.cooking-time, .complexity {
    max-width: 50%;
    width: 200px;
    height: 75px;
    text-align: center;
    background-color:rgb(190, 190, 190);
    border-radius: 10px;
}

.complexity {
    display: flex;
    justify-content: space-around; 
}

.cooking-time-value {
    margin: 0 auto;
}

.color {
    margin: auto;
    height: 40px;
    width: 40px;
    background-color:lime;
    border-radius: 8px;
}

.complexity-content {
    margin: 0;
    display: flex;
    justify-content: space-around; 
}

.complexity-text {
    margin: auto 30px auto 0px;
}

/* input-number
====================================*/

.input-number {
    display: flex;
    justify-content: center;
}

.input-number-input {
    margin: auto 0;
}

.input-number-text {
    padding: 0 20px;
    font-weight: 700;
    font-size: 20px;
}

/* list-and-video
====================================*/
.list_and_video {
    display: flex;
}

.list, .video {
    width: 50%;
    align-items: center;
}

.list_and_video_title {
    padding: 0 0 0 24.5px;
    font-weight: 700;
}

.table_conteiner {
    /* margin-left: 20px    ; */
    background-color:rgb(190, 190, 190);
    border-radius: 10px;
}

.ingredients_table {
    border-collapse: collapse;
    counter-reset: schetchik;  /* счётчик с названием "schetchik" работает в рамках класса .demotable */ 
  
    width: 100%;
    border-collapse: collapse;
    line-height: 2;
}

.ingredients_table_td {
    font-size: 16px;
    width: 100%;
}

.ingredients_table tr {
    line-height: 40px;
    counter-increment: schetchik;  /* при встрече тега tr счётчик с названием "schetchik" увеличивается на единицу */     
}

.ingredients_table td,
.ingredients_table tr:before {
    padding: .1em .5em;
    /* border: 1px solid #E7D5C0; */
}


.ingredients_table tr:before {
    content: counter(schetchik) ".";  /* значение счётчика с названием "schetchik" записывается в первую клетку строки */ 
    display: table-cell;
    vertical-align: middle;
    /* color: #978777; */
}


/* video
====================================*/
.video {
    border-radius: 10px;
    width: 600px;
}

/* text_instruction
====================================*/
.recipe__step-title {
    margin: 15px 0px;
    font-weight: 700;
    font-size: 20px;
}

.recipe__step-text {
    font-size: 16px;
}

.text_instruction_title {
    font-weight: 700;
    text-align: center;
    font-size: 20px;
}

.text_instruction_content {
    margin: 0px auto;
    max-width: 70%;
}

/* footer
====================================*/
.footer {
    margin-top: 50px;
    width: 100%;
    background-color:rgb(190, 190, 190);
    height: 300px;
}