<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% block styles %}{% endblock %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Fira+Sans+Condensed:ital,wght@1,900&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
        <title>
            {% block title %}{% endblock %}
        </title>
    </head>
    <body>

    {% block content %}{% endblock %}

    </body>
    {% block scripts %}{% endblock %}
</html>