{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link href="{% static 'css/css2/search.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}
    Кулинарная книга
{% endblock %}

{% block content %}
    <form id="login">
        <h1>Регистрация</h1>
        <fieldset id="inputs">
            <input id="name" type="text" placeholder="Введите имя" autofocus required>
            <input id="email" type="text" placeholder="Введите свой E-mail" autofocus required>
            <input id="password" type="password" placeholder="Введите пароль" required>
        </fieldset>
        <fieldset id="actions">
            <input type="submit" id="submit_2" value="ЗАРЕГИСТРИРОВАТЬСЯ">
        </fieldset>
    </form>
{% endblock %}