{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link href="{% static 'css/сss1/main.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}
    Кулинарная книга
{% endblock %}

{% block content %}
<!--<div class="main-content" id="main-content">-->
<!--    <div class="container">-->
    <form id="login">
        <h1>Регистрация</h1>
        <fieldset id="inputs">
            <input id="name" type="text" placeholder="Введите имя" autofocus required>
            <input id="email" type="text" placeholder="Введите свой E-mail" autofocus required>
            <input id="password" type="password" placeholder="Введите пароль" required>
        </fieldset>
        <fieldset id="actions">
            <input type="submit" id="submit_2" value="ЗАРЕГИСТРИРОВАТЬСЯ">
        </fieldset>
    </form>
<!--</div>-->
<!--    </div>-->

<script src="js/js1/main.js"></script>
<script src="js/js1/app.js"></script>
{% endblock %}