{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link href="{% static 'css/сss1/main.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}
    Кулинарная книга
{% endblock %}

{% block content %}
<div class="main-content" id="main-content">
    <div class="main-content__inner">
        <div class="content">
            <div class="content-title">
                <h1 class="content-title-text">Ватрушка с ягодами и творожным кремом</h1>
            </div>

            <div class="under_title">
                <div class="food-image">
                    <img class= "food-image-content" src="{% static '/images/food-image.jpg' %}">
                </div>

                <div class="time_complexity">
                    <div class="cooking-time">
                        <img src="{% static/images/food-image.jpg' %}" >
                        <h4 class="cooking-time-value">3 часа</h4>
                    </div>

                    <div class="complexity">
                        <div class="complexity-content">
                            <h4 class="complexity-text">Сложность </h4>
                            <div class="color"></div>
                        </div>
                    </div>
                </div> <!-- /.time_complexity -->
            </div>

        </div>

        <div class="content">
            <div class="content-title">
                <h1 class="content-title-text">Ватрушка с ягодами и творожным кремом</h1>
            </div>

            <div class="under_title">
                <div class="food-image">
                    <img class= "food-image-content" src="{% static/images/food-image.jpg' %}">
                </div>

                <div class="time_complexity">
                    <div class="cooking-time">
                        <img src="{% static/images/alarm.png' %}" >
                        <h4 class="cooking-time-value">3 часа</h4>
                    </div>

                    <div class="complexity">
                        <div class="complexity-content">
                            <h4 class="complexity-text">Сложность </h4>
                            <div class="color"></div>
                        </div>
                    </div>
                </div> <!-- /.time_complexity -->
            </div>

        </div>

        <div class="content">
            <div class="content-title">
                <h1 class="content-title-text">Ватрушка с ягодами и творожным кремом</h1>
            </div>

            <div class="under_title">
                <div class="food-image">
                    <img class= "food-image-content" src="{% static/images/food-image.jpg' %}">
                </div>

                <div class="time_complexity">
                    <div class="cooking-time">
                        <img src="{% static/images/alarm.png' %}" >
                        <h4 class="cooking-time-value">3 часа</h4>
                    </div>

                    <div class="complexity">
                        <div class="complexity-content">
                            <h4 class="complexity-text">Сложность </h4>
                            <div class="color"></div>
                        </div>
                    </div>
                </div> <!-- /.time_complexity -->
            </div>

        </div>

        <div class="content">
            <div class="content-title">
                <h1 class="content-title-text">Ватрушка с ягодами и творожным кремом</h1>
            </div>

            <div class="under_title">
                <div class="food-image">
                    <img class= "food-image-content" src="{% static/images/food-image.jpg' %}">
                </div>

                <div class="time_complexity">
                    <div class="cooking-time">
                        <img src="{% static/images/alarm.png' %}" >
                        <h4 class="cooking-time-value">3 часа</h4>
                    </div>

                    <div class="complexity">
                        <div class="complexity-content">
                            <h4 class="complexity-text">Сложность </h4>
                            <div class="color"></div>
                        </div>
                    </div>
                </div> <!-- /.time_complexity -->
            </div>

        </div>

        <div class="content">
            <div class="content-title">
                <h1 class="content-title-text">Ватрушка с ягодами и творожным кремом</h1>
            </div>

            <div class="under_title">
                <div class="food-image">
                    <img class= "food-image-content" src="{% static/images/food-image.jpg' %}">
                </div>

                <div class="time_complexity">
                    <div class="cooking-time">
                        <img src="{% static/images/alarm.png' %}" >
                        <h4 class="cooking-time-value">3 часа</h4>
                    </div>

                    <div class="complexity">
                        <div class="complexity-content">
                            <h4 class="complexity-text">Сложность </h4>
                            <div class="color"></div>
                        </div>
                    </div>
                </div> <!-- /.time_complexity -->
            </div>

        </div>

        <div class="content">
            <div class="content-title">
                <p class="content-title-text">Ватрушка с ягодами и творожным кремом</p>
            </div>

            <div class="under_title">
                <div class="food-image">
                    <img class= "food-image-content" src="{% static/images/food-image.jpg' %}">
                </div>

                <div class="time_complexity">
                    <div class="cooking-time">
                        <img src="{% static/images/alarm-mini.png' %}" >
                        <h4 class="cooking-time-value">3 часа</h4>
                    </div>

                    <div class="complexity">
                        <div class="complexity-content">
                            <h4 class="complexity-text">Сложность </h4>
                            <div class="color"></div>
                        </div>
                    </div>
                </div> <!-- /.time_complexity -->
            </div>

        </div>

        <div class="content">
            <div class="content-title">
                <h1 class="content-title-text">Ватрушка с ягодами и творожным кремом</h1>
            </div>

            <div class="under_title">
                <div class="food-image">
                    <img class= "food-image-content" src="{% static/images/food-image.jpg' %}">
                </div>

                <div class="time_complexity">
                    <div class="cooking-time">
                        <img src="/images/alarm.png" >
                        <h4 class="cooking-time-value">3 часа</h4>
                    </div>

                    <div class="complexity">
                        <div class="complexity-content">
                            <h4 class="complexity-text">Сложность </h4>
                            <div class="color"></div>
                        </div>
                    </div>
                </div> <!-- /.time_complexity -->
            </div> <!-- /.under_title -->

        </div> <!-- /.content -->

        <div class="pagination">
            <div class="pagination_block">
                <a class="pagination_block_item" href="#">1</a>
                <a class="pagination_block_item" href="#">2</a>
                <a class="pagination_block_item" href="#">3</a>
                <a class="pagination_block_item" href="#">4</a>
                <a class="pagination_block_item" href="#">5</a>
                <a class="pagination_block_item" href="#">6</a>
                <a class="pagination_block_item" href="#">7</a>
            </div>
        </div>
    </div> <!-- /.main-content__inner  -->
</div> <!-- main-content -->

<script src="js/js2/app.js"></script>
{% endblock %}