{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}
    Кулинарная книга
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="content">
        <div class="description">
            Наше приложение - это база с рецептами и видео по готовке. Вы можете произвести поиск необходимого блюда: по ингредиентам, сложности и длительности готовки. Понравившиеся рецепты можно сохранять и просматривать на странице профиля. Так же вы можете загрузить свой рецепт на сайт и его будут видеть другие пользователи. Внутри каждого рецепта можно можно просчитать необходимое количество ингредиентов для определённого количества порций
        </div>
        <div class="search">
            
        </div>
    </div>
</div>
{% endblock %}